{% extends "common/base.html" %}


{% block head %}
<link href="/static/css/gallery.css" rel="stylesheet">

{% endblock %}

{% block javascript %}

	var preload_images = new Array();

	var current_image_name = "{{default_img.name}}";	
	function changePreviewImage(name, changeTo, description)
	{
	  	var $img = jQuery("#previewImg");
		var src = $img.attr("src");
	
		/*console.log(changeTo);
		console.log(src);*/
		
		if(src != changeTo)
		{
			current_image_name = name;
			
			hideorderprint();
			
			$("#previewImg").fadeOut(150, function() {
			  $(this).load(function () { $(this).fadeIn(150);});
			  $(this).attr("src", changeTo);
		
			  
			  if(description)
			  {
			  	$('#description').html(description);					  
			  }
		
			});
		}
	}
	
	var GalleryImages = 
	[
		{% for image in selected_images %}
	    "{{image.gallery_img_large.url}}",
	    {% endfor %}
	]
	
	
	function preloader()
	{
		if (document.images) 
		{
			for (var i = 0; i < GalleryImages.length; i++)
			{
				preload_images[i] = new Image();
				preload_images[i].onload = function(){console.log('loaded');}
				preload_images[i].src = GalleryImages[i];
			}
		}
	}
	
	function addLoadEvent(func) {
		var oldonload = window.onload;
		if (typeof window.onload != 'function') {
			window.onload = func;
		} else {
			window.onload = function() {
				if (oldonload) {
					oldonload();
				}
				func();
			}
		}
	}
	addLoadEvent(preloader);
	
	function showorderprint()
	{
		updatesizeselection($("#sizedropdown option:selected").text());
		$('#addtocartbtndiv').html("<img id=\x22addtocartbtn\x22 src=\x22/static/images/add_to_cart.png\x22 style=\x22cursor: pointer;\x22 onclick=\x22addtocart()\x22 >");
		$('#orderprint').hide();
		$('#orderinfo').slideDown();
		
	}
	
	function hideorderprint()
	{
		$('#orderprint').show();
		$('#orderinfo').hide();
	}
	
	function updatesizeselection(value)
	{
		switch(value)
		{
		{% for print_size in print_sizes %}
		case "{{print_size.print_size}}":
			$('#itemprice').html("${{print_size.price|floatformat:2}}");
			$('#printsizedescription').html("<strong>Print Information:</strong> {{print_size.description}}");
			
		  break;
		{% endfor %}
		}
	}
	
	
	var cart_updated = function(res, status)
	{
	    if (status != "success")
	    {
	    	return;
	    }
	    
	    $('#numcartitems').text(res.responseJSON["cartcount"]);
	    $('#addtocartbtn').hide();
	    
	    $('#addtocartbtndiv').html("<div><img src='/static/images/green_check.png'>Added to cart!</div><div><a href='/cart/view'><img style='margin-top:10px; float:right;' src='/static/images/checkout_small.png'></a></div>");    
	    
	}
	
	function addtocart()
	{
		var size = $('#sizedropdown').val()
		var data = { "name":current_image_name,
					 "size": size,
					 csrfmiddlewaretoken: '{{ csrf_token }}'};
			
		var args = { type:"POST", url:"/cart/add/", data:data, complete:cart_updated };
        $.ajax(args);
    
	    return false;
	}
	
	function getCookie(name)
	{
	    var cookieValue = null;
	    if (document.cookie && document.cookie != '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) == (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}
	
	var csrftoken = getCookie('csrftoken');
	
	function csrfSafeMethod(method)
	{
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	
	$.ajaxSetup({
	    crossDomain: false, // obviates need for sameOrigin test
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type)) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});
	


	

{% endblock %}

{% block content %}
				<!--Side Menu-->
				<div class="topmargin sidemenu" style="width: 140px; height: 100%; float:left; margin-left: 5px " >
					<center>
						<span class="sidemenu" >Categories</span>
						<img src="/static/images/horz_separator.png">
						{% for category_menu_item in category_menu %}
						<a href="/gallery/{{medium}}/{{category_menu_item.name}}/">{{category_menu_item.name}}</a><br />
						{% endfor %}
					</center>
				</div>

				<div class="topmargin" style="width:393px; float:left; margin-left:5px">
					
					<!--Preview image-->
					<div >
				      	<img id="previewImg" class="bordercolor" src="{{default_img.gallery_img_large.url}}" >
					</div>
					
					<!--Description-->
			      	<div class="transparentbox">
	   		  	    	<div id="description" class="descriptiontext" style="padding-left: 20px; margin-top:10px; min-height:50px"><font style="">{{default_img.description|linebreaksbr}}</font></div>
  				  	    <div style="margin-top:10px; margin-left:20px">
  				  	    	<img id="orderprint" src="/static/images/order_print.png" style="left:20px;	cursor: pointer;" onclick="showorderprint()" >
  				  	    </div>
	   		  	    </div>
	   		  	    
	   		  	    <!--Print info-->
	   		  	    <div id='orderinfo' class="transparentbox clearfix" style="display:none;" >
	   		  	    	<div style="padding-left:20px;">
  				  	    	<div style="width:100%;">
	  				  	    	<div class="printinfotext" style="float:left; text-align: center; line-height:25px;">
	  				  	    		<strong class="verticallyCentered">Print Size:</strong> 
	  				  	    	</div>
	  				  	    	
	  				  	    	<select id="sizedropdown" class="listbox" style="margin-left: 5px; float:left" onchange="updatesizeselection(this.value);">
								{% for print_size in print_sizes %}
								   <option>{{print_size.print_size}}</option>
								 {% endfor %}
								</select>
								
								<div id="itemprice" class="printinfotext" style="float:right; margin-right:10px">$50.00</div>
								<div class="printinfotext" style="float:right; margin-right:10px"><strong>Price: </strong></div>
							</div>
							
							<div style="clear:both;">
								<div id="addtocartbtndiv" class="printinfotext" style="width: 128px; float:right; margin-right:10px;margin-top:10px">
									<img id="addtocartbtn" src="/static/images/add_to_cart.png" style="cursor: pointer;" onclick="addtocart()" >
								</div>
								
								<div id="printsizedescription" class="printinfotext" style="float:left; width: 225px; margin-right:10px; margin-top:10px;">
									
								</div>
							</div>

						</div>
  				  	</div>
	   		  	    
				</div>

				<div class="topmargin" style="float:left; width:230px; height=100%; margin-left:20px">
					{% for image in selected_images %}
					<div class="tint" onclick="changePreviewImage('{{image.name}}','{{image.gallery_img_large.url}}', '{{image.description|linebreaksbr}}');">
				      <img  src="{{image.gallery_img_small.url}}">
				    </div>
				    {% endfor %}
				</div>
{% endblock %}


