{% extends "common/base.html" %}


{% block head %}
<link href="/media/css/gallery.css" rel="stylesheet">
{% endblock %}

{% block javascript %}

	var preload_images = new Array();
	
	function changePreviewImage(changeTo, description)
	{
	  	var $img = jQuery("#previewImg");
		var src = $img.attr("src");
	
		/*console.log(changeTo);
		console.log(src);*/
		
		if(src != changeTo)
		{
			hideorderprint();
			
			$("#previewImg").fadeOut(150, function() {
			  $(this).load(function () { $(this).fadeIn(150);});
			  $(this).attr("src", changeTo);
		
			  
			  if(description)
			  {
			  	console.log(description);
			  	$('#description').html(description);					  
			  }
		
			});
		}
	
	
	}
	
	var GalleryImages = 
	[
		{% for image in selected_images %}
	    "{{image.gallery_img_large.url}}",
	    {% endfor %}
	]
	
	
	function preloader()
	{
		if (document.images) 
		{
			var index = 0;
			for (var i = 0; i < GalleryImages.length; i++)
			{
				preload_images[index] = new Image();
				preload_images[index].onload = function(){console.log('loaded');}
				preload_images[index].src = GalleryImages[i];
	
				console.log(i);
				console.log(GalleryImages[i]);
				index++;
			}
		}
	}
	
	function addLoadEvent(func) {
		var oldonload = window.onload;
		if (typeof window.onload != 'function') {
			window.onload = func;
		} else {
			window.onload = function() {
				if (oldonload) {
					oldonload();
				}
				func();
			}
		}
	}
	addLoadEvent(preloader);
	
	function showorderprint()
	{
		updatesizeselection($("#sizedropdown option:selected").text());
		$('#orderprint').hide();
		$('#orderinfo').slideDown();
		
	}
	
	function hideorderprint()
	{
		$('#orderprint').show();
		$('#orderinfo').hide();
	}
	
	function updatesizeselection(value)
	{
		switch(value)
		{
		{% for print_size in print_sizes %}
		case "{{print_size.print_size}}":
			$('#itemprice').html("{{print_size.price|floatformat:2}}")
		  break;
		{% endfor %}
		
		default:
		  alert("wtf" + value);
		}
	}
	

{% endblock %}

{% block content %}
				<div class="topmargin sidemenu" style="width: 140px; height: 100%; float:left; margin-left: 5px " >
					<center>
						<font class="sidemenu">{{category}}</font>
						<img id="add_to_cart" src="/media/images/horz_separator.png">
						{% for category_menu_item in category_menu %}
						{{category_menu_item.name}}<br />
						{% endfor %}
					</center>
				</div>

				<div class="topmargin" style="width:393px; float:left">
					<!--Preview image-->
					<div class="bordercolor" border="1" style="height:240px; width=392px">
				      	<img id="previewImg" src="{{default_img.gallery_img_large.url}}" >
					
					</div>
					
					<!--Description-->
			      	<div class="transparentbox">
	   		  	    	<div id="description" class="descriptiontext" style="padding-left: 20px; margin-top:10px; min-height:50px"><font style="">{{default_img.description|linebreaksbr}}</font></div>
  				  	    <div style="margin-top:10px; margin-left:20px">
  				  	    	<img id="orderprint" src="/media/images/order_print.png" style="left:20px;	cursor: pointer;" onclick="showorderprint()" >
  				  	    </div>
	   		  	    </div>
	   		  	    
	   		  	    <!--Print info-->
	   		  	    <div id='orderinfo'  class="transparentbox" style="display:none">
	   		  	    	<div style="padding-left:20px; height:20px">
  				  	    	<div style="width:100%;">
	  				  	    	<div class="printinfotext" style="float:left">
	  				  	    		Print Size: 
	  				  	    	</div>
	  				  	    	<select id="sizedropdown" class="listbox" style="float:left" onchange="updatesizeselection(this.value);">
								{% for print_size in print_sizes %}
								   <option>{{print_size.print_size}}</option>
								 {% endfor %}
								</select>
								
								<div id="itemprice" class="printinfotext" style="float:right; margin-right:10px">$50.00</div>
								<div class="printinfotext" style="float:right; margin-right:10px">Price: </div>
							</div>
							



						</div>
  				  	</div>
	   		  	    
				</div>

				<div class="topmargin" style="width:270px; float:left">
					<div style="width:230px; height=100%; margin-left:25px">
						{% for image in selected_images %}
						<div class="tint" onclick="changePreviewImage('{{image.gallery_img_large.url}}', '{{image.description|linebreaksbr}}');">
					      <img  src="{{image.gallery_img_small.url}}">
					    </div>

					    {% endfor %}

					</div>
				</div>
{% endblock %}


