{% extends "common/base.html" %}

{% block head %}
<link href="/static/css/bio.css" rel="stylesheet">
{% endblock %}


{% block content %}

<div class="insideframe">
	<img src="/static/images/bio_pic.jpg" style="float:right; margin-left: 15px; margin-right: 15px;">

	<span class="firstcharacter">
	S
	</span>

hatakshi Goyal is an up and coming contemporary artist whose work ranges from painting landscapes to sketching portraits, to painting enchanting awe-inspiring descriptions of the Vedic goddesses. Born in India and raised in Idaho, USA, Shatakshi completed her education in Electrical and Computer Engineering from Boise State University at the age of 18 with several awards, one of which ranked her one of the top five Electrical and Computer Engineers in the nation. Despite her excellent academic achievements and career in the technological industry, Shatakshi never forgot her love and passion for fine arts. As a young adolescent, she discovered her incredible fondness for painting the ever charming moods of the Divine Goddess Srimati Radhika. She then began her journey towards training as an artist and studied independently with one of Idaho’s premier watercolour artists, Gaye Hoopes in landscape painting. 
</p>
However, her innate passion for expressing mood and emotion on paper was not satisfied with simply painting landscapes. She started sketching portraits of famous actresses using shading techniques she learned from her childhood drawing teacher Gary Thomas. Deeply inspired to paint portraits, she merged her watercolor painting skills with her new found portrait sketching and realized a cherished childhood dream. 
</p>
While her meditation-inspired portraits mature in style and intensity, they retain her signature ethereal quality that embodies an undeniably feminine force. Her portraits always capture elusive moments in the artist's individual perception and experience, viewed through her imaginative lens.
</p>
“…wow...”, I whispered under my breath as I looked on in amazement at the gorgeously framed, three foot by four foot oil painting hanging afore me on a now contrastingly small wall leading to the living room of my friend’s house. It had such an undeniable presence drawing me towards itself so strongly that I pondered, “How is it possible that this one object influences the aura of the whole house so easily yet so deeply?” 
</p>
That moment left such an impression on me that several years later I reflect back and contemplate, as a painter I desire my work to be an unvarying presence for people to turn to in their silent moments and take a moment to meditate on something genuinely beautiful and inspiring.”
</p>
As a student of dance I practiced pulling emotions from the depths of my heart into my eyes, facial expression and finally out into my whole body. Likewise, painting gave me yet another means of self expression, but this time not limited by my own body like with dance. Being able to express emotions in the eyes of my subjects, felt like a new language. However, as I meditated more and more on the ocean of unlimited, divinely attractive emotions of Srimati Radharani, I was reminded on a deeper level that my true position was as Her prayerful student. Depicting Her true character through prayerful meditation on the breathtaking verses describing Her effulgent form has now become my means of finding my own true self. Painting has now become a medium of self discovery for me. 
</p>
As such there is no greater desire in me then to meditate on those transcendental emotions in the form of dance, poetry, art, drama and music. Although my own realizations and depictions of the intensity and depth of Sriji’s emotions are but a drop in a vast ocean of realizations of individuals more than qualified to be my gurus, with the blessings of my parents, all my gurus and well-wishers I desire to share these meditations with you in the form of these paintings offered here. 
</p>
My work is a fusion of personal experiences and influences- moody atmospheres, victorian-inspired couture, and timeless elements all laced with clandestine symbolism. The figures I paint exist in their own esoteric realm and time, and each painting offers a glimpse into their anomalous world.

</div>

{% endblock %}