@import url("http://fonts.googleapis.com/css?family=Playfair+Display+SC");

.textcolor{
	color: #e7cc4f;
}


a, a:link, a:visited, a:hover, a:focus, a:active{
  color:#e7cc4f;
  text-decoration:none;
}


.topmargin{
	margin-top:15px;
}

.bordercolor{
	border-color:#5e5037;
	border-style:solid;
	border-width:1px;
}

.menu_image{
	float:left;
	position: relative;
	cursor: pointer;

}

.darken:before{	
  	content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

 
.darken:hover:before {
    background: rgba(0,0,0, 0.2);
 }

.notificationbartext
{
	color: rgb(223, 213, 96);
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
	font-size: 14px
	
}

.notificationbar{
	/*display:none;*/
	left:0px;
	top:0px; 
	width:100%; 
	height: 30px; 
	background-color: #000000; 
	margin-top: 0px;
	margin-left:0px; 
	z-index: 100; 
	color: #FF0000; 
	border-bottom: 1px solid rgb(242, 222, 100);
	background: linear-gradient(to bottom, #88160F 0%, #380606 100%) repeat scroll 0 0 transparent;
	/*opacity:0.4;
	filter:alpha(opacity=40); */
}

body
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color: #e7cc4f;
}

.verticallyCentered{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

