
nav {
	margin: 0; padding: 0; border: 0;
	margin: 0px; 
	text-align: center;
}

nav ul ul {
	margin: 0; padding: 0; border: 0;
	display: none;
}

nav ul li:hover > ul {
	display: block;
	
}


nav ul {
	margin: 0; padding: 0; border: 0;
	
	padding: 0;
	border-radius: 0px;  
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	margin: 0; padding: 0; border: 0;
	float: left;
}

/*hover color*/
nav ul li:hover {
	background: #23160f;
	background: rgba(0,0,0, 0.3);
}
/*text color*/
nav ul li:hover a {
	font-family: 'Playfair Display SC', serif;
	color: #dfd560;
	font-size: 18px;
	outline: 0;
}
		
nav ul li a {
	margin: 0; padding: 0; border: 0;	
	display: block; padding: 0px 0px;
	color: #757575; text-decoration: none;
}
			
/*menu background*/
nav ul ul {
	margin: 0; padding: 0; border: 0;
	background: #88160f; border-radius: 0px; padding: 0;
	background: -moz-linear-gradient(top, #88160f 0%, #380606 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88160f), color-stop(100%,#380606)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #88160f 0%,#380606 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #88160f 0%,#380606 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #88160f 0%,#380606 100%); /* IE10+ */
	background: linear-gradient(to bottom, #88160f 0%,#380606 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#88160f', endColorstr='#380606',GradientType=0 ); /* IE6-9 */
	position: absolute; top: 100%;
}

/*separator*/
nav ul ul li {
	margin: 0; padding: 0; border: 0;
	float: none; 
	/*border-top: 1px solid #21160f;*/
	border-bottom: 1px solid #21160f; position: relative;
}

/*size of menu items*/
nav ul ul li a {
	margin: 0; padding: 0; border: 0;
	padding: 10px 40px;
	color: #fff;
}
/*hover background*/
nav ul ul li a:hover {
	/*background: #4b545f;*/
}
		
nav ul ul ul {
	margin: 0; padding: 0; border: 0;
	position: absolute; left: 100%; top:0;
}
		
