.descriptiontext
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color: #e7cc4f;
}

.sidemenu{
	font-family: 'Playfair Display SC', serif;
	color: #dfd560;
	font-size: 18px;
}

a, a:link, a:visited, a:hover, a:focus, a:active{
  color:#e7cc4f;
  text-decoration:none;
}

.tint {
	position: relative;
	float: left;
	height:100px;
	
	border: 1px solid #5e5037;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 10px;
	
	cursor: pointer;
	/*-webkit-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;*/
	/*-moz-box-shadow: rgba(0,0,0,.2) 3px 5px 5px;*/
	box-shadow: rgba(255,255,255,.1) 3px 3px 30px;

}

.tint:before {
	content: "";
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	-moz-transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.tint:hover:before {
	background: rgba(255,255,255, 0.2);
}


.listbox  {
   background: transparent;
   padding: 2px;
   font-size: 16px;
   line-height: 1;
   border: 1px solid #333333;
   border-radius: 0px 0px 0px 0px;
   border-radius: 0;
   -webkit-appearance: none;
   color: #CCCCCC;
   outline: 0;
}
   


.transparentbox
{
	border-color:#5e5037;
	border-style:solid;
	border-width:1px;
	position:relative; 
	width:100%; 
	height:auto; 
	margin-top: 15px; 
	padding-top:10px;
	padding-bottom:10px; 
	background-color:rgba(0,0,0,0.5);
}


.printinfotext
{
	font-family: Verdana, Geneva, sans-serif;
	font-size:14px;
	color: #e7cc4f;
}