.centerdiv
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}



.transparentbox
{
	border-color:#5e5037;
	border-style:solid;
	border-width:1px;
	position:relative; 
	width:100%; 
	height:auto; 
	margin-top: 30px;
	margin-left:10px;
	margin-right: 10px; 
	padding-top:10px;
	padding-bottom:10px; 
	background-color:rgba(0,0,0,0.5);
}

.mainframe
{
	background-image: url(/static/images/background.png);
}

.checkout
{
	display:block; 
	margin:auto; 
	background-image: url(/static/images/checkout.png);
	background-position:  0px 0px;
    background-repeat: no-repeat;
    border: 0px;
    width: 204px;
    height: 49px;
    padding-left: 0px;
    padding-right: 0px;
}