<!DOCTYPE html>
<html>
	<head>
		<title>Ayatakshi Art</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	
		<link href="/media/css/base.css" rel="stylesheet">
		<link href="/media/css/dropdown.css" rel="stylesheet">
		{% block head %} {% endblock %}
		


		<script language="javascript">
			{% block javascript %}{% endblock %}
		</script>



	</head>
	<body bgcolor="#111111"> 

		<div style="width:1100px;margin-left: auto; margin-right: auto; margin-top:30px">
			<div style="width:1100px;margin-left: auto; margin-right: auto; text-align:center">
				<img src="/media/images/ayatakshi_art.png" style="margin-left:0px; "/>	
			</div>
			<div style="top:50%; margin-top: -100px; margin-left: auto; margin-right: auto ; width:1100px;">
				<img src="/media/images/upper_left_border.png" style="margin-left:50px; "/>	
				<img src="/media/images/upper_right_border.png" style="margin-left:515px;" />
			</div>

			<div style="
					position:relative; 
					margin-top:-135px; 
					margin-left: auto; 
					margin-right: auto; 
					width:808px; 
					min-height:500px;
					overflow-y: hidden; 
				
					background-color: black;
					background-image: url(/media/images/background.png);
					background-repeat:no-repeat;
					border-radius:20px;
					-moz-border-radius: 5px;
					-webkit-border-radius:20px ;
					border: 1px solid #f2de64;">

				<div style="width: 808px; height: 32px;">
					<nav style="margin-top: 0px; margin-bottom:0px">
						<ul style="padding-left: 0px; padding-right: 0px;">	
							<li><img src="/media/images/menu_bar/left.png" class="menu_image"></li>
							<li><div class="darken menu_image" style="height:32px: margin-bottom:0px"><img src="/media/images/menu_bar/gallery.png"></div>
							<ul>
									{% for medium_menu_item in mediums_menu %}
									<li><a href="/gallery/{{medium_menu_item.name}}/">{{medium_menu_item.name}}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li><div class="menu_image" style="height:32px"><a class="darken" href="/bio/"><img src="/media/images/menu_bar/bio.png" ></a></div></li>
							<li><div class="menu_image" style="height:32px"><a class="darken" href="/faq/"><img src="/media/images/menu_bar/faq.png"></a></div></li>
							<li><div class="menu_image" style="height:32px"><a class="darken" href="/contact/"><img src="/media/images/menu_bar/contact.png"></a></div></li>
							<li><img src="/media/images/menu_bar/right.png" class="menu_image"></li>
								
						</ul>
					</nav>
				</div>
				
				{% block content %}{% endblock %}
				
					
			</div>
			<div style="top:50%; margin-top: -130px; margin-left: auto; margin-right: auto ; width:1100px;">
				<img src="/media/images/lower_left_border.png" style="margin-left:50px;" onclick="alert('asdf');"/>	
				<img src="/media/images/lower_right_border.png" style="margin-left:515px;" />
			</div>
		</div>
	</body>
</html>
