<!DOCTYPE html>
<html>
	<head>
		<title>Ayatakshi Art</title>
		
		
		<script src="/static/jquery-1.10.0.min.js"></script>
		

		<link href="/static/css/base.css" rel="stylesheet">
		<link href="/static/css/dropdown.css" rel="stylesheet">

		{% block head %} {% endblock %}
		


		<script language="javascript">
			{% block javascript %}{% endblock %}
			
			function showNotificationBar(message, bgColor, txtColor, height) 
			{
				$('#notification-bar').slideDown(duration=100);
			}

			function hideNotificationBar(message, bgColor, txtColor, height) 
			{
				$('#notification-bar').slideUp(duration=100);
			}
			
			
		
		</script>



	</head>
	<body bgcolor="#111111" style="margin:0px; "> 
		
		<!--Notification bar info-->
		<div id='notification-bar' class="notificationbar" >
			<a href="/cart/view">
				<div class="notificationbartext" style='float:right; margin-right: 50px; line-height: 40px;'>
					<span style="margin-left:5px;"><strong id="numcartitems">{{cart.items|length}} </strong></span> item[s]
				</div>
				<div style="float:right; margin-top: 2px;"><img style="border: 0px;" src='/static/images/cart.png'></div>
			</a>
		</div>

		<!--Main-->
		<div style="width:1100px;margin-left: auto; margin-right: auto; margin-top:50px">
			<!--Ayatakshi art logo-->
			<div style="width:1100px;margin-left: auto; margin-right: auto; text-align:center">
				<img src="/static/images/ayatakshi_art.png" style="margin-left:0px; "/>	
			</div>
			
			<!--Upper left and right corner images-->
			<div style="top:50%; margin-top: -100px; margin-left: auto; margin-right: auto ; width:1100px;">
				<img src="/static/images/upper_left_border.png" style="margin-left:50px; "/>	
				<img src="/static/images/upper_right_border.png" style="margin-left:515px;" />
			</div>

			<!--Content block-->
			<div class='mainframe'>

				<div style="width: 808px; height: 32px;">
					<nav style="margin-top: 0px; margin-bottom:0px">
						<ul style="padding-left: 0px; padding-right: 0px;">	
							<li><img class="noborder" src="/static/images/menu_bar/left.png" class="menu_image"></li>
							<li><div class="menu_image" style="height:32px"><a class="darken" href="/home/"><img class="noborder" src="/static/images/menu_bar/home.png" ></a></div></li>
							<li><div class="darken menu_image" style="height:32px: margin-bottom:0px"><img class="noborder" src="/static/images/menu_bar/gallery.png"></div>
							<ul>
									{% for medium_menu_item in mediums_menu %}
									<li><a href="/gallery/{{medium_menu_item.name}}/">{{medium_menu_item.name}}</a></li>
									{% endfor %}
								</ul>
							</li>
							<li><div class="menu_image" style="height:32px"><a class="darken" href="/bio/"><img class="noborder" src="/static/images/menu_bar/bio.png" ></a></div></li>
							<li><div class="menu_image" style="height:32px"><a class="darken" href="/faq/"><img class="noborder" src="/static/images/menu_bar/faq.png"></a></div></li>
							<li><div class="menu_image" style="height:32px"><a class="darken" href="/contact/"><img class="noborder" src="/static/images/menu_bar/contact.png"></a></div></li>
							<li><img class="noborder" src="/static/images/menu_bar/right.png" class="menu_image"></li>
								
						</ul>
					</nav>
				</div>
				
				{% block content %}{% endblock %}
				
					
			</div>
			<div style="top:50%; margin-top: -130px; margin-left: auto; margin-right: auto ; width:1100px;">
				<img src="/static/images/lower_left_border.png" style="margin-left:50px;" />	
				<img src="/static/images/lower_right_border.png" style="margin-left:515px;" />
			</div>
		</div>
	</body>
</html>
